*{
    box-sizing: border-box; /* importante para garantir que todos irão se comportar em caixa */

    font-family: "Open Sans", sans-serif;
}

body{
    background-color: #6748cb;
    color: black;

}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.main {
    padding: 1rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: .5rem;
}

.header::before{
    content: '';
    background-image: radial-gradient(circle at 1.38% 9.2%, #ff68e0 0, #ff61f0 10%, #ff5dfa 20%, #ff5aff 30%, #ff57fc 40%, #f253f2 50%, #c14ee4 60%, #934bd7 70%, #6748cb 80%, #3346c1 90%, #0045b8 100%);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    .main{
        flex-direction: row;
    }
    
}