*{
    box-sizing: border-box; /* importante para garantir que todos irão se comportar em caixa */

    font-family: "Open Sans", sans-serif;
}

body{
    color: black;

}

.header {
    padding: 1rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: .5rem;
}

.header::before{
    content: '';
    background-image: url('../imagens/background-gradient-lights.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 2560px;
    height: 1964px;
    z-index: -1;
}
