.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
}

.title{
    font-family: "Neue Machina";
    text-align: center;
    
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.informations p {
    margin: .2rem;
}

