.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main::after{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
    z-index: -1;
}

.photo {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
}

.title{
    font-family: "Neue Machina";
    text-align: center;
    
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.informations p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .2rem;
    font-size: 1.125rem;
}

.informations p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .3rem;
}

.informations .job::before{
    background-image: url('../icons/pessoa.svg')
}

.informations .location::before{
    background-image: url('../icons/local.svg')
}

.informations .whatsapp::before{
    background-image: url('../icons/whatsapp.svg')
}

.informations .phone::before{
    background-image: url('../icons/telefone.svg')
}

.informations .email::before{
    background-image: url('../icons/email.svg')
}

@media only screen and (min-width: 768px) {
    .main{
        display: grid;
       grid-template-areas: 
       "photo title"
       "photo informations"
       ;
    }

    .main .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    .main .title{
        grid-area: title;
        text-align: start;
        max-width: 220px;
    }

    .main .informations{
        grid-area: informations;
    }
    
}

@media only screen and (min-width: 1024px){

    .header{
        max-width: 1024px;
        margin: 1rem auto;
    }

}

